/* prompt-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/prompt-v10-latin-regular.woff2') format('woff2');
}

/* gravitas-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gravitas-one-v19-latin-regular.woff2') format('woff2');
}